<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo y Links de Navegación -->
    <div class="navbar-links">
      <a class="navbar-brand" routerLink="/">Xenon Bank</a>
      <a routerLink="/">Inicio</a>
      <a routerLink="/features">Características</a>
      <a *ngIf="!isAuthenticated" routerLink="/register">Registro</a>
      <a *ngIf="!isAuthenticated" routerLink="/login">Inicio de Sesión</a>
      <a *ngIf="isAuthenticated && userRole === 'client'" routerLink="/loan-history">Historial de Préstamos</a>
      <a *ngIf="isAuthenticated && userRole === 'admin'" routerLink="/loan-request">Solicitar Préstamo</a>
    </div>

    <!-- Nombre del Usuario y Botón de Cerrar Sesión -->
    <div class="navbar-user" *ngIf="isAuthenticated">
      <span>{{ userName }}</span>
      <button (click)="logout()" class="logout-button">Cerrar Sesión</button>
    </div>
  </div>
</nav>
