<div class="container mt-5 text-center">
  <h2>Acerca de <span class="text-success">Prestamos Oswa</span></h2>
  <p>Xenon Bank está dedicado a empoderar a empresas e individuos con soluciones financieras innovadoras. Nuestra misión es promover la libertad financiera y el crecimiento de la comunidad.</p>
  <div class="row">
    <div class="col-md-4">
      <h5>Nuestra Visión</h5>
      <p>Ser el banco líder para empresas que buscan crecimiento y seguridad.</p>
    </div>
    <div class="col-md-4">
      <h5>Nuestra Misión</h5>
      <p>Proveer soluciones financieras confiables que impulsen el éxito.</p>
    </div>
    <div class="col-md-4">
      <h5>Nuestros Valores</h5>
      <p>Integridad, Enfoque en el Cliente, Innovación y Comunidad.</p>
    </div>
  </div>
</div>
