<div class="container mt-5 text-center">
  <h2>Our Positive <span class="text-success">Social Impact</span></h2>
  <p>We are committed to making a difference in our community through sustainable financial practices and outreach programs.</p>
  <div class="row">
    <div class="col-md-6">
      <blockquote class="blockquote">
        <p>"Xenon Bank has helped us create more job opportunities in our community."</p>
        <footer class="blockquote-footer">Local Business Owner</footer>
      </blockquote>
    </div>
    <div class="col-md-6">
      <blockquote class="blockquote">
        <p>"Thanks to Xenon Bank, we were able to launch our community support program."</p>
        <footer class="blockquote-footer">Community Leader</footer>
      </blockquote>
    </div>
  </div>
</div>
